<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>Peter Keenan&ensp;&#8226;&ensp;{% block subtitle %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header id="mainheader">
            <nav>
                <ul>
                    <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                    <li><a href="{{ url_for('research_page') }}">Research</a></li>
                    <li><a href="{{ url_for('music_page') }}">Music</a></li>
                    <li><a href="{{ url_for('engraving_page') }}">Engraving</a></li>
                    <li><a href="{{ url_for('coding_page') }}">Dev</a></li>
                    <li><a href="{{ url_for('blog_page') }}">Blog</a></li>
                </ul>
            </nav>
        </header>
        <div id="style_div">
        <main id="main">
            {% block content %}{% endblock %}
        </main>
        </div>
    </body>
    <footer>
        <div id="foot_div">
            <p>&#169; 2020 Peter Keenan&emsp;&#8226;&emsp;<a href="{{ url_for('contact_page') }}">Get in touch</a>&emsp;&#8226;&emsp;<a href="{{ url_for('aboutsite_page') }}">Background info about this site</a></p>
        </div>
    </footer>
</html>
