{% extends "base.html" %}

{% block subtitle %}Dev{% endblock %}

{% block content %}
    <h1>Coding / Dev / Programming</h1>
        <p>Okay, so it is definitely a bit pretentious/misleading of me to have a whole page dedicated to this as it implies that I'm more experienced and prolific than I am!</p><p>I recently got into programming/scripting (I mean, literally three or so months ago) and quite enjoy it, so I guess this page is here because I see it playing a bigger part in my various activities from here on.</p>
    <h2>Languages</h2>
    <p>I've mainly been working on Python, but am also learning C. Python is very current and seems a good place to start. I wanted to get familiar with C because so many languages (Java, C++, C#) are derived from it. Also, so much stuff is still written in C.
    <h2>Current projects...</h2>
    <h3>Editing SCORE files</h3>
    <p>The big aim with learning a bit of programming is to improve my workflow in SCORE, more specifically &ndash; to supercede my Editscor script for editing slurs/ties with a more intelligent and flexible program. With some helpful hints from a friend, I'm reading the binary data successfully. I just have to begin the long job of building a scalable program!</p><p>This is being done in Python, though I may move over to C.</p>
    <h3>Webscraping</h3>
    <p>As part of my job at Samling, we have to edit a set of artist pages (350 individual pages!) one at a time. There's no database or way for us to do global edits across the 350 pages. Often it takes ages to just go through every page and establish what information they do and don't have. So I wrote a Python script to do this for me, which summarises which pages have what information. It also spots inconsistencies. I then just make the desired edits to the relevant pages without the time-consuming process of checking each page for a specific element.</p>
    <h3>Scheduling</h3>
    <p>This has taken a bit of a backburner but I'll pick it up when I can... Again, at Samling I spend so much time sorting artists into groups and making schedules. I am working on a way to automate this &ndash; particularly the group sorting, which can often take the best part of a day.</p>
    <h2>Other stuff</h2>
    <h3>This website!</h3>
    <p>I guess this website constitutes as part of my ongoing learning of Python. It is built using Python with the <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> framework and Jinja template engine. Locally, there are some small JSON databases. I then use <a href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a> to 'freeze' the site into a series of static html sheets, which I just upload to my VPS.</p>
    <h3>Git</h3>
    <p>I'm a massive fan of Git and am spending time getting to know its awesome capabilities. I do have a Github account, but prefer self-hosting wherever possible &ndash; so I have my own Git server on this VPS. I will eventually add a web interface so this is publically browsable, most likely using Stagit.</p>
{% endblock %}
