{% extends "base.html" %}

{% block subtitle %}Email me{% endblock %}

{% block content %}
    <h1>Best way to get in touch with me</h1>
<p>Emailing me is the best way to get in touch. My email address is my surname followed by <a href="https://posteo.de/en">this German email provider's name</a>, with a wee <code>.net</code> on the end. All one word, of course!</p><br><div id="boxed"><p><code>surname[at]provider_name[dot]net</code></p></div><br><p>My public GPG key should be automatically identified by your email client, I intend to upload it here shortly..</p>{% endblock %}
