{% extends "base.html" %}

{% block subtitle %}Engraving{% endblock %}

{% block content %}
    <h1>Music engraving</h1>
    <h2>Specialised music typography</h2>
    <p>Content to go here</p>
    <h2>The music of Paul Keenan</h2>
    <p>Editing and engraving the music of Paul Keenan is my primary focus.</p>
    <h2>Previous projects</h2>
    <dl>
    {% for entry in engraving_db %}
        <dt><b>{{ entry.composer | safe }}</b></dt>
        <dd><b><i>{{ entry.title | safe }}</i></b></dd>
        {% if entry.description and entry.for and entry.software is defined %}
            <dd><small>{{ entry.description }}, {{ entry.for }}</small></dd>
            <dd><small>Using {{ entry.software }}</small></dd>
        {% elif entry.for and entry.software is defined %}
            <dd><small>{{ entry.for }}</small></dd>
            <dd><small>Using {{ entry.software }}</small></dd>
        {% else %}
            <dd><small>{{ entry.description }}</small></dd>
            <dd><small>{{ entry.software }}</small></dd>
        {% endif %}
    {% endfor %}
    </dl>
    {% endblock %}
