{% extends "base.html" %}

{% block subtitle %}Music{% endblock %}

{% block content %}
    <h1>My musical activities</h1>
        <h2>Opera dei Lumi</h2>
        <p>I founded <a href="https://operadeilumi.org.uk">Opera dei Lumi</a> in 2014. We did two concert performances of Mozart operas (<i>Cos&igrave; fan tutte</i> and <i>Le nozze di Figaro</i>) and did a one-off performance of Mozart's Requiem in 2016. Realising that for this to really go somewhere (and not just be one-off things that were fun), I began building the organisation from the ground up in 2017. It is now a registered charity with a board of trustees, a clear business plan and &ndash; most importantly &ndash; an ever growing audience.</p>
        <h2>Northern Praeclassica</h2>
        <p>In January 2020 I took over as Music Director of Northern Praeclassica, a community a capella choir in Newcastle. I've worked with them for about a term, but due to covid-19 we've not yet performed together. (We would have done two concerts by now!) I'm looking forward to getting back to it.</p>
        <h2>My conducting</h2>
        <p>I've never really trained as a conductor but am grateful to get together with individuals I respect and discuss ideas.</p>
        <h2>Other</h2>
        <p>Once upon a time I played piano and viola, and studied composition too.</p>
{% endblock %}
