{% extends "base.html" %}

{% block subtitle %}Music{% endblock %}

{% block content %}
    <h1>My musical activities</h1>
    <h2>Conducting</h2>
    <p>I've never formally trained as a conductor but instead try to take/make every opportunity to broaden my experience. I have also benefitted greatly from sitting down with people I respect and chatting over a score.</p><p>I have done a fair variety of genres and styles, but seem to find my voice mainly in eighteenth-century repertoire.</p><p>I've collated most of my repertoire <a href="{{ url_for('rep_list') }}">here</a>.</p>
    <h3>Opera dei Lumi</h3>
        <p>I founded <a href="https://operadeilumi.org.uk">Opera dei Lumi</a> in 2014. We did two concert performances of Mozart operas (<i>Cos&igrave; fan tutte</i> and <i>Le nozze di Figaro</i>) and did a one-off performance of Mozart's Requiem in 2016. Realising that for this to really go somewhere (and not just be one-off things that were fun), I began building the organisation from the ground up in 2017. It is now a registered charity with a board of trustees, a clear business plan and &ndash; most importantly &ndash; an ever growing audience.</p>
        <h3>Northern Praeclassica</h3>
        <p>In January 2020 I took over as Music Director of <a href="https://northernpraeclassica.weebly.com/index.html">Northern Praeclassica</a>, an a capella community choir in Newcastle. I've worked with them for about a term, but due to covid-19 we've not yet performed together. (We would have done two concerts by now!) I'm looking forward to getting back to it.</p>
        <h2>Administration</h2>
        <p>I never set out to work in arts administration, but seemingly it is unavoidable. I currently work as a Creative Development Manager for <a href="http://www.samling.org.uk/">Samling Institute for Young Artists</a>. As an arts administrator I've done lots of project development, delivery and  management, fundraising, as well as more general administration. This has certainly furnished me with a good foundation for managing ODL.</p>{% endblock %}
