{% extends "base.html" %}

{% block subtitle %}Research{% endblock %}

{% block content %}
    <h1>About my research</h1>
    <h2>My research interests</h2>
    <p>My research interests cover a range of areas, primarily concerned with the interplay between a musical work, its materials, and its interpreter. This takes a few forms, including historically informed performance practice research and theories on the role of editing in contemporary music performance practice.</p><p>Lots of my research has centred around Mozart's music, in particular tempo theory. Naturally this goes in hand with my aims as a performer.</p>
    <h2>Publications</h2>
    <p>My writings in the public domain:</p>
    <dl>
        {% for entry in public_db %}
            <div id="article_loop">
            <dt><b>{{ entry.article_name | safe }}</b></dt>
            <dd>{{ entry.desc1 | safe }}: {{ entry.for }}, {{ entry.year }}</dd>
            {% if entry.desc2 is defined %}
                <dd>{{ entry.desc2 | safe }}</dd>
            {% endif %}
            {% if entry.link2_url is defined %}
                <dd><a target="_blank" rel="noopener noreferrer" href="{{ entry.link1_url }}">{{ entry.link1_txt }}</a>&ensp;&#8226;&ensp;<a target="_blank" rel="noopener noreferrer" href="{{ entry.link2_url }}">{{ entry.link2_txt }}</a></dd>
            {% else %}
                <dd><a target="_blank" rel="noopener noreferrer" href="{{ entry.link1_url }}">{{ entry.link1_txt }}</a></dd>
            {% endif %}
            </div>
            {% endfor %}    
    </dl>
    <h2>Other stuff</h2>
    <p>This is a shortlist of things I have written for one reason or another but are not publicly available by default, or other things I've been involved with. I certainly don't include them here because I think they're particularly insightful, but I guess I felt I achieved some form of useful argument. I will probably make a downloadable PDF of these in due course.</p>
    <dl>
        {% for entry in other_db %}
            <div id="article_loop">
            <dt><b>{{ entry.article_name | safe }}</b></dt>
            <dd>{{ entry.desc1 | safe }}: {{ entry.for }}, {{ entry.year }}</dd>
            {% if entry.desc2 is defined %}
                <dd>{{ entry.desc2 | safe }}</dd>
            {% endif %}
            {% if entry.link2_url is defined %}
                <dd><a target="_blank" rel="noopener noreferrer" href="{{ entry.link1_url }}">{{ entry.link1_txt }}</a>&ensp;&#8226;&ensp;<a target="_blank" rel="noopener noreferrer" href="{{ entry.link2_url }}">{{ entry.link2_txt }}</a></dd>
            {% else %}
                <dd><a target="_blank" rel="noopener noreferrer" href="{{ entry.link1_url }}">{{ entry.link1_txt }}</a></dd>
            {% endif %}
            </div>
            {% endfor %}    
    </dl>{% endblock %}
