{% extends "base.html" %}

{% block subtitle %}Research{% endblock %}

{% block content %}
    <h1>About my research</h1>
    <h2>My research interests</h2>
    <p>My research interests cover a range of areas, primarily concerned with the interplay between a musical work and its interpreter. This takes a few forms, including historically informed performance practice research and theories on the role of editing in contemporary music performance practice.</p>
    <h2>Public writings</h2>
    <p>My writings in the public domain.</p>
        <dl>
            <dt><b><i>Towards an understanding of Mozart's use of tempo and proportion: Temporal strategies in the finales of </i>Le nozze di Figaro</b></dt>
            <dd>MMus(R) thesis, University of Glasgow, 2017</dd>
            <dd>c25,000 words</dd>
            <dd><a href="http://theses.gla.ac.uk/8776/">Abstract and details</a></dd>
            <dd><a href="http://theses.gla.ac.uk/8776/7/2017KeenanMMusR.pdf">Direct download</a></dd><br>
            <dt><b><i>Reflections on professional music engraving in the twenty-first-century: A declining art in an advanced era</i></b></dt>
            <dd>Guest blog article for the Royal Musical Association, 2016</dd>
            <dd><a href="https://www.rma.ac.uk/2016/07/04/reflections-on-professional-music-engraving-in-the-twenty-first-century-a-declining-art-in-an-advanced-era/">Read online</a></dd><br>
            <dt><b>Classical Opera &ndash; Grabmusik / Bastien und Bastienne</b></dt>
            <dd>Review article for Criticks, British Society for Eighteenth-Century Studies, 2019</dd>
            <dd><a href="https://www.bsecs.org.uk/criticks-reviews/classical-opera-grabmusik-bastien-und-bastienne/">Read online</a></dd>
        </dl>
        <h2>Other writings</h2>
        <p>This is a shortlist of things I have written for one reason or another, but are not publicly available by default. I certainly don't include them here because I think they're particularly insightful, but I guess I felt I achieved some form of useful argument.</p>
        <dl>
            <dt><b><i>The 'religion' of Mozart's Requiem and aesthetic autonomy in its early reception</i></b></dt>
            <dd>20-minute conference paper given at the BFE/RMA Research Students' Conference 2016</dd><br>
            <dt><b>1770 Giovenale Sacchi on Mozart the prodigy</b></dt>
            <dd>A brief entry concerning a book by Sacchi and the Mozarts connection to it</dd>
            <dd><a href="https://sites.google.com/site/mozartdocuments/documents/1770-sacchi">Read online</a></dd>
            <dd>Please note: I am not the author of this article, but contributed to its content and am credited as such.</dd><br>
            <dt><b><i>Fanfares, fundamentals and affiliations in the late music of Gy&ouml;rgy Ligeti</i></b></dt>
            <dd>3,000-word undergraduate essay, 2008</dd>
        </dl>{% endblock %}
