$colours: (
  muted-grey: #919494,
  darkest-blue: #212532,
  midnight-blue: #292d3e,
  tinted-white: #eeffff,
  light-blue: #3b415c,
  deep-orange: #f78c5b,
  mustard-yellow: #ffcb6b,
  dark-green: #7fb347,
  pale-green: #c3e872,
  giro-pink: #c792ea,
  susanna-blue: #55a8ec,
  lightest-blue: #bed6ff,
  grey-blue: #595e72
);

@function colour($colour-name) {
  @return map-get($colours, $colour-name);
}
