@use 'colours' as c;

.header {
  display: block;
  height: 40%;
  font-family: karmillaBold, serif;
  text-align: center;
}

.headerTitle {
  font-size: 2rem;
  margin: 2rem 0;
}

.headerHeroTitle {
  font-size: 5rem;
  color: c.colour(giro-pink);
  margin: 2rem 0;
}

.headerSub {
  font-size: 1.5rem;
  margin: 1.625rem 0;
}

.headerHeroSub {
  font-size: 3rem;
  margin: 1.625rem 0;
}

@media screen and (min-width: 640px) {
  .headerTitle {
    font-size: 3rem;
  }
  .headerSub {
    font-size: 2rem;
  }
  .headerHeroTitle {
    font-size: 8rem;
  }

  .headerHeroSub {
    font-size: 5rem;
  }
}
