@use 'colours' as c;

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 50vh;
}

.heroTitle {
  font-size: 5rem;
  justify-self: center;
  align-self: end;
}

.highlight {
  color: c.colour(giro-pink);
}

.heroContent {
  width: 90%;
  margin: 0 auto;
  // font-family: mononokiRegular;
  // grid-row: 2 / 3;
  justify-self: left;
  align-self: start;
}

.heroIcons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 3rem;
  font-size: 3rem;
}

@media screen and (max-width: 640px) {
  .heroTitle {
    font-size: 3rem;
  }

  .heroContent {
    width: 100%;
  }

  // .highlight {
  //   display: block;
  // }
}
