@use 'colours' as c;

.menu {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  color: c.colour(mustard-yellow);
}

.menuBtn {
  background-color: c.colour(midnight-blue);
  font-family: mononokiBold, monospace;
  font-size: 2rem;
  border-style: none;
}

.menuBtn.btnLeft {
  justify-self: start;
}

.menuBtn.btnRight {
  justify-self: end;
}

/* Hamburger and std menu toggle */
.hamburger {
  display: none;
  background-color: c.colour(midnight-blue);
  font-size: 2rem;
  color: c.colour(tinted-white);
  cursor: pointer;
  padding: 0.618rem 0;
}

.menuListNormal {
  margin: 0;
  font-size: 2rem;
  text-transform: lowercase;
  float: right;
  font-family: mononokiBold, monospace;
}
.menuItem {
  display: inline;
  list-style-type: none;
  a {
    border: solid 1px c.colour(midnight-blue);
    // :hover {
    //   border: dashed 1px c.colour(muted-grey);
    // }
  }
}

.mediaItem {
  color: c.colour(tinted-white);
  border: solid 1px c.colour(light-blue);
}

.menuListNormal.showMenu {
  display: grid;
  padding: 0.8rem 0;
  text-decoration: none;
  text-align: center;
  background-color: c.colour(light-blue);
  width: 100%;
  margin: auto;
  grid-column: 1 / span 2;
  .menuItem {
    display: inline;
    list-style-type: none;
    a {
      border: solid 1px c.colour(light-blue);
    }
    :hover {
      border: dashed 1px c.colour(muted-grey);
    }
  }
  .mediaItem {
    a > svg {
      vertical-align: -5px;
    }
  }
  .mediaContainer {
    padding-top: 2rem;
  }
}

.menuItem.horizontal {
  padding-left: 1.236rem;
}

.menuItem a {
  color: c.colour(mustard-yellow);
}

.mediaLinks {
  display: none;
  font-size: 2rem;
  color: c.colour(tinted-white);
  li.mediaItem {
    display: inline;
    margin: 1rem;
    a:hover {
      color: c.colour(deep-orange);
      cursor: pointer;
      background-color: c.colour(midnight-blue);
      border: dashed 1px c.colour(muted-grey);
    }
  }
}

// .navItem {
//   border: dashed 1px c.colour(muted-grey);
// }

@media screen and (max-width: 640px) {
  .menuListNormal {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mediaLinks {
    display: block;
  }
}
